---
# yamllint disable rule:truthy
name: Pre-commit

on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: "3.x"

jobs:
  pre-commit:
    name: Run pre-commit (default config)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            perl \
            cpanminus \
            perltidy \
            libperl-critic-perl \
            libjson-schema-modern-perl \
            libjson-maybexs-perl \
            libpath-tiny-perl \
            libtoml-tiny-perl \
            libparams-validate-perl

      - name: Install pre-commit
        run: python -m pip install --upgrade pip pre-commit

      - name: Run pre-commit (default)
        run: pre-commit run --all-files --config .pre-commit-config.yaml
